Core/bin/Debug/Core.dll.config
Core/bin/Debug/EntityFramework.SqlServer.xml
Core/bin/Debug/EntityFramework.xml
Core/obj/Debug/Core.csproj.FileListAbsolute.txt
Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Data/bin/Debug/Data.dll.config
Data/bin/Debug/EntityFramework.SqlServer.xml
Data/bin/Debug/EntityFramework.xml
Data/obj/Debug/Data.csproj.FileListAbsolute.txt
Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Service/bin/Debug/EntityFramework.xml
Service/obj/Debug/Service.csproj.FileListAbsolute.txt
Service/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Service/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Service/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
StockControl/bin/Debug/EntityFramework.SqlServer.xml
StockControl/bin/Debug/EntityFramework.xml
StockControl/bin/Debug/StockControl.exe.config
StockControl/bin/Debug/StockControl.vshost.exe.config
StockControl/bin/Debug/StockControl.vshost.exe.manifest
StockControl/obj/Debug/StockControl.csproj.FileListAbsolute.txt
StockControl/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
StockControl/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
StockControl/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Validation/bin/Debug/EntityFramework.xml
Validation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Validation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Validation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Validation/obj/Debug/Validation.csproj.FileListAbsolute.txt
packages/EntityFramework.6.1.1/EntityFramework.6.1.1.nupkg
packages/EntityFramework.6.1.1/content/App.config.transform
packages/EntityFramework.6.1.1/content/Web.config.transform
packages/EntityFramework.6.1.1/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.1.1/lib/net40/EntityFramework.xml
packages/EntityFramework.6.1.1/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.1.1/lib/net45/EntityFramework.xml
packages/EntityFramework.6.1.1/tools/EntityFramework.psd1
packages/EntityFramework.6.1.1/tools/EntityFramework.psm1
packages/EntityFramework.6.1.1/tools/about_EntityFramework.help.txt
packages/EntityFramework.6.1.1/tools/init.ps1
packages/EntityFramework.6.1.1/tools/install.ps1
packages/repositories.config
TestValidation/bin/Debug/EntityFramework.SqlServer.xml
TestValidation/bin/Debug/EntityFramework.xml
TestValidation/bin/Debug/TestValidation.dll.config
TestValidation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestValidation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestValidation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestValidation/obj/Debug/TestValidation.csproj.FileListAbsolute.txt
packages/nspec.0.9.68/content/DebuggerShim.cs
packages/nspec.0.9.68/nspec.0.9.68.nupkg
packages/nspec.0.9.68/tools/NSpecRunner.exe.config
packages/nspec.0.9.68/tools/nunit.framework.xml
